body {
 box-sizing: border-box;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #f0fff0;
}

header {
  box-sizing: border-box;
  margin: 0;
  padding: 1rem;
  text-align: center;
}

header h1 {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Segment7Standard', monospace;
  font-size: 2.2rem;
  font-weight: 900;
}

main {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculadora {
  box-sizing: border-box;
  margin: 0;
  padding: 20px;
  background-color: #1f1f1f;
  width: 320px;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}

.pantalla {
  box-sizing: border-box;
  margin: 0;
  padding: 15px;
  background-color: #000;
  height: 70px;
  margin-bottom: 20px;
  border-radius: 10px;
  font-family: 'Segment7Standard', monospace;
  font-size: 2.5rem;
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.pantalla-normal { 
  color: #fff; 
}

.pantalla-error { 
  color: red; 
}

.pantalla-suma { 
  color: #4bff4b; 
}

.pantalla-resta { 
  color: #ff884b; 
}

.pantalla-multiplicacion { 
  color: #ffbf00; 
}

.pantalla-division { 
  color: #00c8ff; 
}

.pantalla-inverso { 
  color: #b084ff; 
}

.pantalla-cuadrado { 
  color: #ff4bd8; 
}

.pantalla-raiz { 
  color: #00ffbf; 
}

.teclas {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.btn {
  box-sizing: border-box;
  margin: 0;
  padding: 18px;
  background-color: #2d2d2d;
  color: #fff;
  font-size: 1.3rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn:hover {
  background-color: #3a3a3a;
}

.btn.especial {
  background-color: #3b3b3b;
}

.btn.especial:hover {
  background-color: #3a3a3a;
}

.btn.operador {
  background-color: #4b4bff;
}

.btn.operador:hover {
  background-color: #3a3a3a;
}

.btn.igual {
  background-color: #ff9500;
}

.btn.igual:hover {
  background-color: #3a3a3a;
}

.btn.doble {
  grid-column: span 2;
}

.btn:disabled {
  background-color: #1e1e1e;
  opacity: 0.4;
  cursor: not-allowed;
}

.btn:disabled:hover {
  background-color: #1e1e1e;
}

.btn img {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 27px;
  height: 27px;
}

footer {
  box-sizing: border-box;
  margin: 0;
  padding: 10px;
  background-color: #f0fff0;
  text-align: center;
}

footer p {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  font-size: 0.75rem;
  font-weight: 400;
  letter-spacing: 2px;
  color: #3d6b5d;
}
